*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*!Body header */

#body-header{

    height: 45vh;
    background-size: cover;
    background-image: url(img/pexels-hasan-albari-1229861.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}


/* !Horizontal list */

.horizontal-list{
    list-style: none;
    padding-left: 0px; 
    margin: 0px;
}
.horizontal-list li{
    display: inline-block;
    font-size: 1rem;
    margin-top: 5px;
    padding: 10px;
    font-size: larger;
}
.horizontal-list li a{
    color: white ;
    text-decoration: none;
    transition: color 0.5  s ;
    padding: 10px;
    
     
}
.horizontal-list li a:hover{
    background: rgba(0, 0, 0, 0.202);
}
.text-center{
    text-align: center;
}

/*! Name and social */

#name-social-container{
    margin-top: 4vh;
}

.my-name{
    font-size: 4rem;
    color: white;
    font-family: monospace;
    letter-spacing: 0.1rem ;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.social-icons li a i{
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.5rem;
}

.social-icons li{
    display: inline-block;
    margin: 5px;
}
.social-icons li a i:hover{
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 6px 4px black;
}

/* !About section */
#about{
    position: relative;
    height: auto;
    width: 100% ;
}

#my-image{
    height: 12rem;
    width: 12rem;
    margin : auto;
    margin-top: -13vh;
} 
#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 10px 7px rgb(2, 2, 2);
} 

.about-info{
    margin: auto;
    width: 70%;
}

.about-info p{
    margin-top: 4vh;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.3rem;
    font-weight: 500;
    font-variant: small-caps;
    word-spacing: 5px;
    line-height: 1.5rem;
    padding-bottom: 5vh;
}

/* sections */
main section{
    display: flex;
    width: 100%;
    flex-direction: column;
    /* height: 40vh; */
}

section:nth-child(2n+1){
    background-color: white;
}
section:nth-child(2n){
    background-color: #edede9;
}

/* Section heading */
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.section-heading{
    width: auto;
    padding: 10px 20px 10px;
    margin: 40px auto;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.section-heading span{
    font-size: 2rem;
    color: #163973;
}

/* !skills */
.skills-display{
    width: 70%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 10px;
    padding: 5%;
}
.skills-progress{
    width: 11rem;
    height: 2rem;
    background-color: lightgray;
    border-radius: 40px 40px 40px 40px;
    overflow: hidden;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.A80{
    width: 90%;
    background-color: rgb(122, 80, 174);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: white;
}
.B60{
    width: 70%;
    background-color: rgb(78, 151, 36);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: white;
}
.C40{
    width: 50%;
    background-color: rgb(151, 36, 92);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: white;
}
.D20{
    width: 30%;
    background-color: rgb(205, 41, 41);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: white;
}

/* !porfolio */

.projects
{
    width: 70%;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 30px;
}
.items{
    width: 20%;
    height: 20vh;
    margin: 20px;
    text-align: center;
    /* bgcolor: rgb(0, 0, 0); */
    background-color: #000 !important;
    font-weight: 900;
    background: url(img/project1.jpeg) repeat center center fixed; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    
}
.child{
    display: none;
    height: 100%;
    width: 100%;

}

.items:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    opacity: .6;
    
}
.items:hover .child {
    display:block;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .9;

}
/* ! timeline */

.timeline{
  position: relative;
  width: 70%;
  /* border: 2px solid red; */

}
.timeline-box{
  position:relative;
  width: 40%;
  /* border: 2px solid red; */
  min-height: 150px;
  /* margin: 3%; */
  left: 10px;
  padding: 10px;
  padding: 10px;
  text-align: justify;
}
.timeline-box h3{
  font-size: 1.2rem;
  padding-bottom: 15px;
  font-weight: 800;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #163973;
}
.timeline-box h5{
  padding-bottom: 5px;
  font-size: .7rem;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: orangered;
}

.info p{
  font-size: .7rem;
  font-weight: 600;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.2rem;

}

.timeline-box:nth-child(2n)
{
  left: 53%;
}

.time-line-divider{
  position: absolute;
  height: 75%;
  width: 0;
  border: 3px dotted #0096fa6b;
  left: 50%;
  top: 10%;
}
.time-line-traveller{
  position: sticky ;
  top: 5% ;
  transform: rotate(90deg);
}


/* ! contact */

#contact {
    width: 100%;
    height: 100%;
    background: #010d24;
    color: white;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
  }
  
  /* Left contact page */
  .form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, 
  textarea {
    max-width: 400px;
    background-color: #010d24;
    color: white;
    letter-spacing: 1px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: white;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: white;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: white;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: white;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */

  
  #contact {
    width: 100%;
    height: 100%;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  /* Left contact page */
  .form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, 
  textarea {
    width: 100%;
    background-color: #010d24;
    color: white;
    letter-spacing: 1px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
    margin-left: 5%;
}
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: 61px;
    padding-right: 12px;
}
  
  .list-item {
    line-height: 4;
    color: white;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: white;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: white;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: white;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: white;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: white;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px white;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: white; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: white;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: white
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }